
/* ******************************************************** */

/*
   _____   _         ____    ____               _      
  / ____| | |       / __ \  |  _ \      /\     | |     
 | |  __  | |      | |  | | | |_) |    /  \    | |     
 | | |_ | | |      | |  | | |  _ <    / /\ \   | |     
 | |__| | | |____  | |__| | | |_) |  / ____ \  | |____ 
  \_____| |______|  \____/  |____/  /_/    \_\ |______|
                                                   
*/


/* ******************************************************** */

html {
    background:#000000;

    padding:1em;
}

body {
    width:50%;

    margin:auto;
    padding:0.5em 1.5em 1em 1.5em;

    border-radius:0.3em;

    background:#313131;

    font-family:Courier;
}

a {
    color:#7e9afd;
}

a:hover {
    color:#dec303;
}

.mainList :not(h3) {
    font-size:1.06em;
}

.mainList ul {
    color:white;

    padding:0;
    margin-top:0.2em;;
}

.mainList ul li {
    display:flex;
    align-items:center;
}

.mainList ul li p {
    color:#cfefb7;
    margin-top:0;
    margin-bottom:0;
    margin-right:0.5em;
}

.mainList ul li p:before, .mainList ul li b:before {
    content:"-";
    color:orange;
    margin-right:0.5em;
    text-decoration:none;
}

.mainList ul li a {
    margin-left:0.4em;
}

.inputBox {
    display:flex;
    flex-direction:column;
}

.adminForm {
    width:60%;

    margin:auto;
    padding:1em;

    color:white;
    font-size:1.2em;
}

.inputBox {
    margin-top:0.5em;
}

.inputContainer {
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    margin:0;
    padding:0;
}

.inputBlox input, .inputBox textarea {
    font-size:1.2em;
    max-width:99%;
}

.inputBox select {
    font-size:1em;
}

.w-100 {
    width:30em;
    flex:100;
}

.submitZone {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

.submitBtn {
    width:5em;
    padding:0.6em;
    margin:0.5em;

    background:#313131;
    outline:none;
    border:1px dashed #76ff86;

    color:white;

    align-self:flex-end;
}

.submitBtn:hover {
    transition: all 0.3s ease;
    cursor:pointer;

    background:#76ff86;
    border-color:rgba(0,0,0,0);

    color:black;
}

.submitBtnSecondary {
    width:5em;

    padding:0.6em;
    margin:0.5em;

    background:#313131;
    outline:none;
    border:1px dashed orange;

    color:white;
}

.submitBtnSecondary:hover {
    transition: all 0.3s ease;
    cursor:pointer;

    background:orange;
    border-color:rgba(0,0,0,0);
    
    color:black;
}

.hidden {
    display:none;
}

.articleListTitle {
    font-size:1.1em !important;
    color:#7cf9ff !important;
    margin-bottom:0 !important;
}

.articleListElement {
    margin-top:0;
    margin-bottom:0.2em;
}

.articleListElement:before {
    content:"-";
    color:orange;
    margin-right:0.3em;
}

#art-desc b {
    color:orange;
}
/* ******************************************************** */


/* 
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝										
*/

/* ******************************************************** */
header {
    margin:auto;
    border-bottom:3px dashed #76ff86;
}

header ul {
    height:2em;

    margin:0;
    padding-left:0;

    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;

    list-style:none;
}

header ul img {
    width:3em;

    border-radius:50%;
}

header ul li {
    margin:0.2em;
    color:white;
}

header a {
    font-size:1.3em;
}

header a:hover {
    color:#dec303;
}

header h3 {
    margin-top:0.5em;
    margin-bottom:0.3em;
    font-size:1.3em;
    color:#76ff86;
}


/* ******************************************************** */

/* 
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚══

/* ******************************************************** */

#mainPage h3, .mainList h3 {
    margin-top:0.7em;
    margin-bottom:0;
    font-size:1.2em;
    color:#76ff86;
}

#mainPage h3 small {
    font-size:0.7em;
    color:orange;
}

#mainPage h3 img {
    border-radius:50%;
    float:right;
    width:7em;
    border: 2px solid white;
}

#mainPage article {
    margin-bottom:2em;
}

#articleTitle{
    display:flex;
    flex-direction:column;
    font-size:1.5em !important;
}


#art-desc{
    color:white;

    font-size:1.2em;
    letter-spacing:0.01em;
    text-align:justify;
}
/* ******************************************************** */


/* 
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
*/


/* ******************************************************** */


footer{
    border-top:2px dashed grey;

    font-size:1.2em;
    color:grey;

    display:flex;
    flex-direction:column;
    align-items:start;
}

footer i {
    margin-bottom:0;
    margin-top:1em;
}
